.boton-rojo {
    background-color: red;
    color: white;
    /* Añade más estilos según tus necesidades */
}

.boton-verde {
    background-color: green;
    color: white;
    /* Añade más estilos según tus necesidades */
}
.centro{
    text-align: center;
}